extends ../layout
include ../mixins/series-card
include ../mixins/tag

block content
    .series-page
        div
            span.h1.me-2 #{title}

        .container
            - var titles = {'owned' : ' à lire', 'data' : ' non à acquérir', 'inErrors' : ' en manque d\'informations', 'complete' : ' lus'}
            #accordionExample.accordion
                each seriesTypeList in ['owned', 'data', 'inErrors', 'complete']
                    .accordion-item
                        h2(id='#heading-' + seriesTypeList).accordion-header
                            .accordion-button(type="button" data-bs-toggle="collapse" data-bs-target=`#collapse-${seriesTypeList}` aria-expanded="true" aria-controls=`collapse-${seriesTypeList}`)
                                | #{data[seriesTypeList].length} collections #{titles[seriesTypeList]}
                        .accordion-collapse.collapse.show(id='collapse-' + seriesTypeList aria-labelledby=`heading-${seriesTypeList}` data-bs-parent="#accordionExample")
                            .accordion-body
                                .row
                                    each element, index in data[seriesTypeList]
                                        .col-sm-12.col-md-4.col-3
                                            +series-card(element.series, element.averagePagesInVolume, element.totalPages)
