//- Declaration
mixin book-table(books)
    button.btn.btn-light(onClick='toggleLegend()') Légende
    div(style="position: relative")
        table.table#legend(style="display: none;position: absolute; max-width: 50%")
            tr.table-primary
                    td
                        i.bi.bi-check-lg Collection
                    td
                        i.bi.bi-check-lg Lu
                    td
                        i.bi.bi-x-lg Prété
            tr.table-secondary
                    td
                        i.bi.bi-check-lg Collection
                    td
                        i.bi.bi-check-lg Lu
                    td
                        i.bi.bi-check-lg Prété
            tr.table-success
                    td
                        i.bi.bi-check-lg Collection
                    td
                        i.bi.bi-x-lg Lu
                    td
                        i.bi.bi-x-lg Prété
            tr.table-danger
                    td
                        i.bi.bi-check-lg Collection
                    td
                        i.bi.bi-x-lg Lu
                    td
                        i.bi.bi-check-lg Prété
            tr.table-warning
                    td
                        i.bi.bi-x-lg Collection
                    td
                        i.bi.bi-check-lg Lu
                    td
                        i.bi.bi-x-lg Prété
            tr.table-info
                    td
                        i.bi.bi-x-lg Collection
                    td
                        i.bi.bi-check-lg Lu
                    td
                        i.bi.bi-check-lg Prété
            tr.table-light
                    td
                        i.bi.bi-x-lg Collection
                    td
                        i.bi.bi-x-lg Lu
                    td
                        i.bi.bi-x-lg Prété
            tr.table-dark
                    td
                        i.bi.bi-x-lg Collection
                    td
                        i.bi.bi-x-lg Lu
                    td
                        i.bi.bi-check-lg Prété
        table.table
            thead
                td(scope='col') #
                th(scope='col')
                    input#filterText(onchange='filterTitle()' placeholder='Titre')
                th(scope='col') Catégorie
                th(scope='col') EAN
                th(scope='col') Date
                th(scope='col') Editeur
                th(scope='col') Auteurs
                th(scope='col') Pages
                th(scope='col')
            tbody
                each book, index in books
                    tr.book-line(scope='row'
                        class=book.inCollection && book.isRead && !book.isLent && 'table-primary'
                        class=book.inCollection && book.isRead && book.isLent && 'table-secondary'
                        class=book.inCollection && !book.isRead && !book.isLent && 'table-success'
                        class=book.inCollection && !book.isRead && book.isLent && 'table-danger'
                        class=!book.inCollection && book.isRead && !book.isLent && 'table-warning'
                        class=!book.inCollection && book.isRead && book.isLent && 'table-info'
                        class=!book.inCollection && !book.isRead && !book.isLent && 'table-light'
                        class=!book.inCollection && !book.isRead && book.isLent && 'table-dark'
                        id=`${book.edition.europeanArticleNumber}`
                    )
                        td #{index + 1}
                        td.title #{book.edition.prettyTitle}
                        td #{book.category && book.category.name}
                        td
                            a(href=`/goto${book.edition.link}` target="_blank") #{book.edition.europeanArticleNumber}
                        td
                            if book.edition.publishDate
                                | #{book.edition.publishDate.getDate()}.#{book.edition.publishDate.getMonth() + 1}.#{book.edition.publishDate.getFullYear()}
                        td #{book.edition.publisher && book.edition.publisher.name}
                        td
                            each author in (book.authors || [])
                                div #{author.name}
                        td #{book.edition.pageCount}
                        td
                            a(href=`/books/refresh/${book.edition.europeanArticleNumber}`).btn.btn-light
                                i.bi.bi-arrow-repeat
    script.
        let books = [];
        for(let b of document.getElementsByClassName('book-line')) {
            books.push(b);
        }

        function filterTitle() {
            let filteredBooks = []
            let filterStr = document.getElementById('filterText').value;

            if (filterStr === "") {
                filteredBooks = books.slice();
            } else {
                filteredBooks = books.slice().filter(line => {
                    for(let titleElement of line.getElementsByClassName('title')) {
                        if (titleElement.innerHTML.toLowerCase().normalize("NFD").includes(filterStr.toLowerCase().normalize("NFD"))) {
                            return true
                        }
                    }
                    return false
                });
            }

            for (let book of books) {
                book.style.display = 'none';
            }
            for (let book of filteredBooks) {
                book.style.display = 'table-row';
            }
        }

    script.
        let showLegend = false
        function toggleLegend() {
            showLegend = !showLegend;
            document.getElementById('legend').style.display = showLegend ? 'table' : 'none';
        }
