//- Declaration
include ./tag

mixin series-card(series, averagePagesInVolume)
    .card.mt-4
        h5.card-header #{series.name}
        .card-body
            .card-text
                .progress
                    - series.books.sort((a, b) => a.volume - b.volume)
                    each book in series.books
                        if !book.isRead && !book.inCollection && (book.edition.pageCount || 0) !== 0
                        else
                            .progress-bar(
                                data-european-article-number=book.edition.europeanArticleNumber
                                class=`
                                    ${((book.edition.pageCount || 0) === 0 ? "bg-danger" : '')}
                                    ${((book.edition.pageCount || 0) !== 0 ? "bg-success" : '')}
                                    ${((!book.isRead) && book.inCollection ? "bg-info" : '')}`
                                role="progressbar"
                                style=`width: ${((book.edition.pageCount || averagePagesInVolume)) / series.getTotalPages() * 100}%;`
                                aria-valuenow=`${(book.edition.pageCount || averagePagesInVolume)}`
                                aria-valuemin="0"
                                aria-valuemax=(totalPages)
                            ) #{(book.edition.pageCount || 0) === 0 && book.isRead ? 'lu' : ''}
        ul.list-group.list-group-flush
            li.list-group-item
                if series.books.length > 1
                    if series.isAllBooksRead
                        +tag-success #{series.books.length} tomes
                    else
                        +tag-success #{series.booksRead.length}/#{series.books.length} lus
                        +tag-info #{series.booksInCollection.length}/#{series.books.length} acquis

                else
                    if series.isAllBooksRead
                        +tag-success Tome unique
                    else
                        +tag-info Tome unique

                +tag-light #{series.getAveragePagesPerBooks()} pages
                    if series.books.length > 1
                        |  / tome

        .card-body
            button.float-end.btn.btn-light(onclick=`complete(${series.id})`) Compléter

    script.
        for (const element of document.getElementsByClassName('progress-bar')) {
            element.onclick = () => {
                goTo(element.getAttribute('data-european-article-number'))
            }
        }

        function goTo(id) {
            console.log(id)
            window.location.href = '/books/own#' + id
        }

        function complete(seriesId) {
            fetch('/api/series/complete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    seriesId: seriesId
                })
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Erreur lors de la requête')
                }
            })
        }

